p-panel >>> .ui-panel{
    margin-top: 1em;
    width: 98%;
    min-height: 300px;
}

.icon{
    font-size: 80px;
    margin: 0x;
    padding: 5px;
    background: rgba(33, 187, 192, 0.49);
}


.ui-g{
    padding: 4px;
}

.data{
    padding: 1em;
    vertical-align: middle;
}

.label{
    text-transform: uppercase;
}
#statistic{
    width:300px;
    color:white;
    text-align: center;
    font-family: "Roboto";
    background-color: #00acac;
}

.value{
    font-size: 40px;
}